.Layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "top top"
    "left right-top"
    "left right-bottom";
}

.TopArea {
  grid-area: top;
}

.LeftArea {
  grid-area: left;
}

.RightTopArea {
  grid-area: right-top;
}

.RightBottomArea {
  grid-area: right-bottom;
}
