.Layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "top top"
    "left right";
}

.TopArea {
  grid-area: top;
}

.LeftArea {
  grid-area: left;
}

.RightArea {
  grid-area: right;
}
